
@{
    ViewBag.Title = "AddPlace";
    Layout = "~/Views/Shared/ManagerMaster.cshtml";
}
<script>
    function on_submit() {
        document.myform.submit();
        document.myform.reset();
    }
</script>
<body>



    <section style="background-color:aliceblue">
        <div class="container" style="padding:5%">

            <div class="row mb-5">
                <div class="col-lg-5 mx-auto" style=" border-radius: 5%">

                    <div class=" p-5 rounded shadow " style="border:3px solid #D50000;box-shadow:#d50000 10px 10px inset ">
                        <h2 class="card-title text-center">Add Place</h2>
                        <center>
                            <form method="post" action="/manager/addplace" enctype="multipart/form-data"  name="myform">



                                <label class="form-label col-form-label-sm" style="text-align:start" name="txtname">@ViewBag.msg</label><br />

                                <label class="form-label col-form-label-sm" style="text-align:start" name="txtname">Enter City Name</label>
                                <input type="text" class="card form-control " name="place" required />
                                <label class="form-label col-form-label-sm" style="text-align:start" name="txtname">Enter Description</label>
                                <input type="email" class="card form-control " name="dec" required />
                                <label class="form-label col-form-label-sm" style="text-align:start" name="txtname">New Price</label>
                                <input type="number" class="card form-control " name="nprice" required/>
                                <label class="form-label col-form-label-sm" style="text-align:start" name="txtname">Old Price</label>
                                <input type="number" class="card form-control " name="oprice" required/>
                                <label class="form-label col-form-label-sm" style="text-align:start" name="txtname">Choose File</label>
                                <input type="file" class="card form-control " name="pic" />

                                <h3>@ViewBag.msg</h3>
                                <br><br />
                                <input type="button" value="Add Now" class="btn btn-outline-secondary" style="color:black" onclick="on_submit()">


                            </form>
                        </center>

                    </div>
                </div>
            </div>


        </div>
    </section>






























</body>
