
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ManagerMaster.cshtml";
}

<body style="background-image:url(../../Content/image/pexels-alfonso-escalante-2533092.jpg);background-attachment:fixed;background-size:cover;">

</body>

