<body >
    
        <section class="py-3 py-md-5" >
            <div class="container" style="background-color: #f5fffa;margin:5%;margin-top:-2%">
                <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center" style="background-color: #f5fffa">
                    <div class="col-12 col-lg-6 col-xl-5" style="background-color: #f5fffa;padding:2%">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/Content/image/pexels-aawara-musafir-18357603.jpg" class="d-block w-100" alt="..." style="height:350px">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Content/image/pexels-frans-van-heerden-632522.jpg" class="d-block w-100" alt="..."style="height:350px">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Content/image/pexels-te-lensfix-1371360.jpg" class="d-block w-100" alt="..."style="height:350px">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-7">
                        <div class="row justify-content-xl-center" style="background-color: #f5fffa">
                            <div class="col-12 col-xl-11" style="background-color: #f5fffa;">
                                <h2 class="mb-3">About Tours</h2>
                                <hr style="width:10%;height:5px;background-color:cadetblue"/>
                                <p class="lead fs-4 text-secondary mb-3" style="font-family:'Bell MT'">We help people to build incredible brands and superior products. Our perspective is to furnish outstanding captivating services.</p>
                                <p class="mb-5" style="font-family:'Bell MT'">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                <div class="row gy-4 gy-md-0 gx-xxl-5X">
                                    <div class="col-12 col-md-6">
                                        <div class="d-flex">
                                            <ul>
                                                <li type="circle">Outdoor recreation activities</li>
                                                <li type="circle">Outdoor recreation activities  </li>
                                                <li type="circle">AirlinesCar</li>
                                                <li type="circle">Rentals</li>
                                                <li type="circle">Cruise Lines</li>
                                                <li type="circle">Hotels</li>

                                            </ul>
                                           
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="d-flex">
                                            <ul>
                                                <li type="circle">Railways</li>
                                                <li type="circle">Travel Insurance</li>
                                                <li type="circle">Package Tours</li>
                                                <li type="circle">Insurance</li>
                                                <li type="circle">Guide Books</li>
                                               
                                            </ul>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
        <h2 class="text text-center" style="font-family:'Bell MT'">OUR TEAM</h2>
        <div class="row" style="margin:1%">
            <center> <div class="col-5"><span class="text-align-justyfy" style="font-family:'Bell MT';font-size:20px">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</span></div></center>
        </div>
        <div class="container" style="height:500px">
            <div class="row">
                <div class="col-3" style=" height: 350px">
                    <img src="~/Content/image/pexels-james-wheeler-417074.jpg" style="height: 350px; width: 100%; padding: 2%; border-radius: 25px" /><h4 class="text text-center" style="font-family:'Bell MT'">Priyanshu Ojha</h4>
                    <h6 class="text text-center" style="font-family:'Bell MT';font-size:18px">gfdhkjfghj</h6>
                </div>
           
            </div>

        </div>
    </senction>
   
</body>

