@model tourTravels.Models.ContactUs

@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/GeneralMaster.cshtml";
}

<link href="~/Content/css/contachus.css" rel="stylesheet" />







<body>
   
    <section class=" py-3 py-md-5" id="con">
      
            <div class="container" >
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                    <div class="content">
                        <div class="contact">
                           
                            <div class="form">
                                <h1>Get In Touch</h1>
                                <form action="/home/ContactUs" method="post">
                                    <div class="flex-rev">
                                        <input class="form-control" type="text" placeholder="Enter Name here...." name="name" id="name" />
                                        <label for="name">Full Name</label>
                                    </div>
                                    <div class="flex-rev">
                                        <input type="email" placeholder="abc@gmail.com" name="email" id="email" />
                                        <label for="email">Your Email</label>
                                    </div>
                                    <div class="flex-rev">
                                        <input type="number" placeholder="1234567890" name="phone" id="email" />
                                        <label for="email">Your Number</label>
                                    </div>

                                    <div class="flex-rev">
                                        <center> <button>Send Email</button></center>
                                        <textarea placeholder="I have an idea for a project...." name="msg" id="message"></textarea>
                                        <label for="message">Email Message</label>
                                        <br />

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



           
    </section>
 
</body>







