@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/GeneralMaster.cshtml";
}

@using tourTravels.Models;
@using System.Data;
@using System.Data.SqlClient;
<html>

<head>

    <link href="~/Content/css/index.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="~/Content/jquery-ui.js"></script>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />


    <style>
        .card-body {
            height: 500px;
            width: 300px;
            margin-right: 5px;
        }

        ::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>
<body>
    <section>
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="~/Content/image/pexels-frans-van-heerden-632522.jpg" class="d-block w-100" alt="..." style="max-height: 600px; opacity: 0.7">
                    <div class="carousel-caption ">
                        <span>London</span>

                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="~/Content/image/pexels-elijah-odonnell-2409681.jpg" class="d-block w-100" alt="..." style="max-height: 600px; opacity: 0.7">
                    <div class="carousel-caption ">
                        <span>Paris</span>

                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/Content/image/pexels-zahid-lilani-2104742.jpg" class="d-block w-100" alt="..." style="max-height:600px;opacity:0.7">
                    <div class="carousel-caption align-items-center ">
                        <span>Australia</span>

                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </section>
    <section>
        <div class="container">
            <div class="row" style="padding:5%">
                <div class="col-md"></div>
                <div class="col-md">

                    <center>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="txtplace">
                            <option>Seacrh Place</option>
                        </select>
                        <a href="/home/login" value="book Hotel" class="btn btn-outline-secondary" id="hsave">book Hotel</a>
                    </center>

                </div>
             
                <div class="col-md" >

                    <center>
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="txthotel">
                            <option>Book Hotel</option>
                        </select>
                        <a href="/home/login" value="book Hotel" class="btn btn-outline-secondary" id="hsave">book Hotel</a>
                    </center>

                </div>
                <div class="col-md"></div>
            </div>
            </div>
    </section>
   
    @*<section style="background-color: #f5fffa ">
        <div class="container" style="background-color: #f5fffa ">

            <div class="row mb-5" style="background-color: #f5fffa; ">
                <div class="col-lg-8 mx-auto" style="margin-top:5%">

                    <div class=" p-5 rounded shadow" style="background-color: #f5fffa;display:flex;justify-content:space-around">


                        <div class="row mb-4">


                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="txtplace">
                                <option>Seacrh Place</option>
                            </select>
                            <a href="/home/login" value="book Hotel" class="btn btn-outline-secondary" id="hsave">book Hotel</a>


                        </div>
                        <div class="row mb-4">


                            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="txthotel">
                                <option>Book Hotel</option>
                            </select>
                            <a href="/home/login" value="book Hotel" class="btn btn-outline-secondary" id="hsave">book Hotel</a>


                        </div>
                       




                    </div>
                </div>
            </div>


        </div>
    </section>*@


    <senction style="margin-top:2%">
        <div class="container">
            <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
                <div class="col-12 col-lg-5 col-xl-5" style="padding:2%">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/Content/image/pexels-aawara-musafir-18357603.jpg" class="d-block w-100" alt="..." style="height:350px">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Content/image/pexels-frans-van-heerden-632522.jpg" class="d-block w-100" alt="..." style="height:350px">
                            </div>
                            <div class="carousel-item">
                                <img src="~/Content/image/pexels-elijah-odonnell-2409681.jpg" class="d-block w-100" alt="..." style="height:350px">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-7">
                    <div class="row justify-content-xl-center">
                        <div class="col-12 col-xl-11">
                            <h2 class="mb-3">About Tours</h2>
                            <hr style="width:10%;height:5px;background-color:cadetblue" />
                            <p class="lead fs-4 text-secondary mb-3" style="font-family:'Bell MT'">We help people to build incredible brands and superior products. Our perspective is to furnish outstanding captivating services.</p>
                            <p class="mb-5" style="font-family:'Bell MT'">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            <div class="row gy-4 gy-md-0 gx-xxl-5X">
                                <div class="col-12 col-md-6">
                                    <div class="d-flex">
                                        <ul>
                                            <li type="circle">Outdoor recreation activities</li>
                                            <li type="circle">Outdoor recreation activities  </li>
                                            <li type="circle">AirlinesCar</li>
                                            <li type="circle">Rentals</li>
                                            <li type="circle">Cruise Lines</li>
                                            <li type="circle">Hotels</li>

                                        </ul>

                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="d-flex">
                                        <ul>
                                            <li type="circle">Railways</li>
                                            <li type="circle">Travel Insurance</li>
                                            <li type="circle">Package Tours</li>
                                            <li type="circle">Insurance</li>
                                            <li type="circle">Guide Books</li>

                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </senction>
    <div class="container-fluid bg-opacity-75" style="border-radius:50px;">
        <center>
            <span style="font-size:45px">Our Top Places</span>
            <hr style="width:15%;height:5px;background-color:bisque" />
        </center>
        <div class="grid text-center overflow-x-scroll" style="display:flex;justify-content:space-between;">

            @{
                DBManager db = new DBManager();
                string cmd = "select * from tbl_place";
                System.Data.DataTable dt = db.getallrecord(cmd);
                if (dt.Rows.Count > 0)
                {
                    for (int i = 0; i < dt.Rows.Count; i++)
                    {
                        <div class="card-body" style="height:400px">
                            <img class="rounded-top-4" src="~/content/image/@dt.Rows[i]["file"]" style="height:300px;width:300px;" />
                            <h2 class="card-subtitle">@dt.Rows[i]["place"]</h2>
                            <h5><del style="color:red">$@dt.Rows[i]["orate"]</del>   <i style="color:green">$@dt.Rows[i]["nrate"]</i></h5>
                            <a href="/home/vplace?id=@dt.Rows[i]["pid"]" style="text-decoration:none">Reed More</a>
                        </div>
                    }
                }
            }


        </div>

    </div>






    <!------------------------------>
    <div class="block-61 space-between-blocks m-4">
        <div class="container">
            <div class="block__header col-lg-8 col-xl-7 mx-auto text-center px-0">

                <span style="font-size:45px">What They Say About Us</span>
                <center> <hr style="width:65%;height:5px;background-color:bisque" /></center>
            </div>
            <div class="row px-2 pt-4">
                <div class="col-lg-6 pb-5">
                    <div class="testimonial-card-1">
                        <p class="testimonial-card-1__paragraph">This trip was incredible, from day one our tour guide was amazing .. caring and very knowledgeable.. the actual your was also incredible.. thanks everyone who made possible this unforgettable experience!</p>
                        <div class="block-61-person">

                            <div class="px-2"></div>
                            <div class="flex-grow-1 d-flex flex-column">
                                <span class="block-61-person__rating">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                    </svg>
                                </span><span class="block-61-person__name my-1">Akash Datt Pathak</span><span class="block-61-person__info">founder of arcane</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 pb-5  ">
                    <div class="testimonial-card-1">
                        <p class="testimonial-card-1__paragraph"> let's Travel is the most responsive, knowledgeable and personable travel advisor we have ever dealt with. We have traveled the world and plan so many more trips and would do so with complete confidence having let's Travel advise us.</p>
                        <div class="block-61-person">

                            <div class="px-2"></div>
                            <div class="flex-grow-1 d-flex flex-column">
                                <span class="block-61-person__rating">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                    </svg>
                                </span><span class="block-61-person__name my-1">Priyanshu Ojha</span><span class="block-61-person__info">Student</span>
                            </div>
                        </div>
                    </div>
                </div>
                <center><a href="/home/feedbackview" class="btn btn-outline-secondary rounded-5">Go To Feedback</a></center>
            </div>
        </div>
    </div>




















    <!--Item One -->
    <!-- Button trigger modal -->
    <!-- Modal -->
  
    

    <script>
        $(document).ready(function () {
            $(function () {
                $("#picker").datepicker();
                var my_data = ["America", "Andoman", "Nikobar", "India", "portugal", "United state", "United kingdom", "Rusia", "pakistan", "Afganistan", "Thailand"];
                $("#serch").autocomplete({
                    source: my_data
                })
            })

            $.ajax({
                url: "/home/getplace",
                type: "get",
                success: function (data) {

                    /*  $('#txtplace').empty();*/
                    $('#txtplace').append(data);
                }

            })
            $("#txtplace").change(function () {
                var id = $("#txtplace").val();
                $.ajax({
                    url: "/home/gethotel",
                    data: { place: id },
                    type: "Get",
                    success: function (data) {

                        $('#txthotel').append(data);
                    }
                })
            })
            $("#txtplace").change(function () {
                var id = $("#txtplace").val();
                $("#desti").val(id);
            })
            //$("#book").click(function () {
            //    var txtname = $("#txtname").val(); var txtemail = $("#txtemail").val(); var txtmobile = $("#txtmobile").val(); var desti = $("#desti").val(); var clocation = $("#clocation").val();
            //    $.ajax({
            //        type: "POST",
            //        URL: "/home/booking",
            //        data: { Txtname: txtname, Txtemail: txtemail, Txtmobile: txtmobile, Desti: desti, Clocation: clocation },
            //        success: function (data) {
            //            alert(data);
            //        }
            //    })
            //})
        })
        $(function () {

            var my_data = ["America", "Andoman", "Nikobar", "India", "portugal", "United state", "United kingdom", "Rusia", "pakistan", "Afganistan", "Thailand"];
            $("#search").autocomplete({
                source: my_data
            })
        })

    </script>

</body>




</html>
