
@{
    ViewBag.Title = "viewlogin";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}
@using tourTravels.Models;
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script src="~/Scripts/jquery-3.7.1.js"></script>
<link href="~/Content/css/akash.css" rel="stylesheet" />
<script src="~/Content/css/akash.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    })
</script>
<body>
    <div id="contact" class="contact-area section-padding">
        <div class="container">
            <div class="section-title text-center">
                <h1 style="color:#d50000"><span id="sp"></span>View Login</h1>

            </div>
            <div class="row">

                @{
                    DBManager db = new DBManager();
                    string cmd = "select * from tbl_login";
                    System.Data.DataTable dt = db.getallrecord(cmd);
                    if (dt.Rows.Count > 0)
                    {
                        <table class="table table-responsive table-bordered" id="example">
                            <thead>
                                <tr style="color:white" class="text text-center">

                                    <th>Userid</th>
                                    <th>password</th>

                                    <th>type</th>
                                    <th>status</th>

                                </tr>
                            </thead>


                            @for (int i = 0; i < dt.Rows.Count; i++)
                            {
                                <tbody>
                                    <tr style="color:white" class="text text-center">

                                        <td>@dt.Rows[i]["userid"]</td>
                                        <td>@dt.Rows[i]["password"]</td>

                                        <td>@dt.Rows[i]["type"]</td>
                                        <td>@dt.Rows[i]["status"]</td>



                                    </tr>
                                </tbody>
                            }

                        </table>
                    }
                    else
                    {
                        <h2 class="text text-center">Record not found</h2>
                    }

                }
            </div><!--- END ROW -->
        </div><!--- END CONTAINER -->
    </div>
    <script>
        $(document).ready(function () {
            $(".fa-close").hide();
            $(".fa-check").css({ "cursor": "pointer", "color": "red" })
            $(".fa-check").click(function () {
                var id = $(this).closest("tr").find(".td1").text();

                $.ajax({
                    type: "post",
                    url: "/home/Allowblock",
                    data: { Id: id },
                    success: function (data) {
                        alert(data)
                    }
                })
            })
        })
    </script>
</body>





