
@{
    ViewBag.Title = "Rating";
    Layout = "~/Views/Shared/UserMaster.cshtml";
}
<script>
    $(document).ready(function () {
        $("#sp1,#sp2,#sp3,#sp4,#sp5").css("display", "none");
        $("#s1,#s2,#s3,#s4,#s5").css({ "fontSize": "45px", "color": "goldenrod", "cursor": "pointer" });
        var total = "";
        $("#s1").click(function () {
            total = $("#sp1").text()
            $("#rating").val(total);
            $("#s1").css("color", "#d50000");
            $("#s2,#s3,#s4,#s5").css("color", "goldenrod")
        })
        $("#s2").click(function () {
            total = $("#sp2").text()
            $("#rating").val(total);
            $("#s1,#s2").css("color", "#d50000");
            $("#s3,#s4,#s5").css("color", "goldenrod")
        })
        $("#s3").click(function () {
            total = $("#sp3").text()
            $("#rating").val(total);
            $("#s1,#s2,#s3").css("color", "#d50000");
            $("#s4,#s5").css("color", "goldenrod")
        })
        $("#s4").click(function () {
            total = $("#sp4").text()
            $("#rating").val(total);
            $("#s1,#s2,#s3,#s4").css("color", "#d50000");
            $("#s5").css("color", "goldenrod")
        })
        $("#s5").click(function () {
            total = $("#sp5").text()
            $("#rating").val(total);

            $("#s1,#s2,#s3,#s4,#s5").css("color", "#d50000");

        })
        $(".rte").change(function () {
            $("#rating").val(total);
            alert(total)



        })


    })
    function on_submit() {
        document.myform.submit();
        document.myform.reset();
    }
</script>
<head>
    <style>
        body {
            font-family: "Poppins", sans-serif
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
    <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet">

    <script>
     
    </script>
    <style>
        #holl {
            /* background-image: url(../../Content/image/pexels-thiago-japyassu-929032.jpg);
            background-size: cover;
               b
            margin-bottom: -50px*/
            background-color: aliceblue;
        }
    </style>
</head>
<body>
    <h2>@ViewBag.Uid</h2>
    <section id="holl">
        <div class="container" style="padding:5%">

            <div class="row mb-5">
                <div class="col-lg-5 mx-auto" style=" border-radius: 5%;box-shadow:0px 0px 2px 3px #d50000">

                    <div class=" p-5 rounded shadow " style="box-shadow:0px 0px 5px 2px black">
                        <h2 class="card-title text-center">Rate Here</h2>
                        <center>
                            <form method="post" action="/User/Rating" name="myform">
                                <div class="row mb-4" id="rte">

                                    <div>
                                        <span id="s1">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                            </svg>
                                        </span>
                                        <span id="s2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                            </svg>
                                        </span>            <span id="s3">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                            </svg>
                                        </span>            <span id="s4">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                            </svg>
                                        </span>            <span id="s5">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                                <span id="sp1">1</span>
                                <span id="sp2">2</span>
                                <span id="sp3">3</span>
                                <span id="sp4">4</span>
                                <span id="sp5">5</span>

                                <br>
                                <h2 class="text-center"> Write Review</h2>
                                <hr class="accordion-body alert-heading" style="height:5px;color:blue;width:60%" />
                                <br />
                               
                                <input type="hidden" class="card form-control " name="txtname"  value="@ViewBag.name" readonly required/>
                                <input type="hidden" class="card form-control " id="rating" name="rating" required /><br />
                                <textarea class="card-body " style="width:100%;height:125px" name="msg" required>  </textarea><br><br />
                                <input type="button" value="Feedback" class="btn btn-outline-secondary" style="color:black" onclick="on_submit()">


                            </form>
                        </center>

                    </div>
                </div>
            </div>


        </div>
    </section>

</body>








